body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #18181b;
  min-height: 100vh;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0; /* Обнуление внешних отступов */
  padding: 0; /* Обнуление внутренних отступов */
  box-sizing: border-box; /* Учет padding и border в ширине элемента */
  color: White;
}

.container {
  margin-left: 352px;
  margin-right: 352px;
}

.header-container {
  height: 114px;
  width: 1980px;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 1650px;
  margin-left: 352px;
  margin-right: 352px;
  align-items: center;
  margin-top: 31px;
}
.header-nav {
  width: 602px;
}

.header-menu {
  padding-left: 64px;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  display: inline-block;
}
#idpage {
  margin-right: 0;
  position: relative;
}

.header-btn {
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  background: linear-gradient(#18181b, #18181b),
    linear-gradient(to right, #ff00cc, #3333ff);
  background-clip: padding-box, border-box;
  border: 2px solid transparent;
  transition: all 0.3s ease; /* Добавляем плавный переход */
  cursor: pointer;
  margin-right: 352px;
}
.header-btn:hover {
  color: linear-gradient(to right, #ff00aa, #3366ff);
  background: linear-gradient(#18181b, #18181b),
    linear-gradient(to right, #ff00aa, #3366ff);
  box-shadow: 0 0 10px rgba(51, 102, 255, 0.5);
  transform: translateY(-2px);
}

.header-bg {
  background-image: url(images/header-bg.png);
  position: absolute;
  top: -31px; /* Ваше значение */
  left: 64%; /* Центрирование (можно настроить под ваш макет) */
  transform: rotate(0deg); /* Центрирование + поворот */
  height: 663px; /* Ваше значение */
  width: 1000px; /* Ваше значение */
  z-index: -1; /* Чтобы изображение было ПОД текстом */
  opacity: 20%; /* По желанию: прозрачность */
  background-repeat: no-repeat;
}

.hidden-text {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to right, blue, pink);
  border-radius: 5px;
  top: 100%;
  left: 0;
  height: 20px;
  width: 150px;
  text-align: center;
}

.hidden-text.active {
  max-height: 200px;
  opacity: 1;
  z-index: 10;
}



/* Блок hero */
.hero__container{
  display: flex;
}
.hero__column{
  width: 740px;
  margin-top: 87px;
  height: 316px;
 
}
.hero__head{
margin-bottom: 32px;


}

.hero__tittle{
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  height: 166px;
  width: 540px;
  margin-bottom: 12px;
}

.par__tittle{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  width: 446px;
  height: 53px;
  color: #D1D1D1;
  
}
.hero__btn{
  padding: 18px 38px;
  width: 206px;
  height: 50px;
  background: linear-gradient(to left,#0CBAF1, #E95CE9);
font-weight: 600;
font-size: 14px;
text-transform: uppercase;
border: none;
  cursor: pointer;
  margin-bottom: 42px;

}

.hero__people{
  display: flex;
  margin-top: 51px;
}
.faces{
  position: relative;

}


#people1{
  position: absolute;
  left: 35px;
}
#people3{
  position: absolute;
  left: 70px;
}

.people__text{
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.people_numbers{
  position: relative;
  font-weight: 700;
  font-size: 16px;
 margin-right: 15px;
}

.img-num{
  position: absolute;
 margin-top: 15px;
}
.happy_clients{
  font-weight: 500;
  color: #D1D1D1;
  line-height: 28px;
  font-size: 16px;
}